body {
  background-color: #2C3E50;
  font-family: courier;
  color: #FDFEFE;
}
 
div.content {
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 10%;
  width: 50%;
}
 
div h2 {
  margin-left: 15%;
  font-size: 50px;
}
 
div.slidecontainer {
  margin-top: 2%;
  margin-left: 27%;
  margin-right: 20%;
}
 
div.controlbar {
  margin-top: 2%;
  margin-left: 22%
}
 
div.stopbar {
  margin-top: 2%;
  margin-left: 44%;
  display: none;
}
 
div.timer {
  margin-top: 5%;
  margin-left: 32%;
  font-size: 50px;
}
 
tr.spaceUnder>td {
  padding-bottom: 1em;
}

button {
  text-align: center;
  font-size: 15px;
  font-family: courier;
}